.page-userinfo-text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
}
.user-info-edit{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.table-user{
    margin-left: 100px;
    margin-right: 141px;
}
.overflow-top-table{
    margin-top: 75px;
}